*
{
	margin:0;
	padding: 0;
}
body{
	overflow-y: hidden;
}
.maincon{
	width: 100vw;
	min-height: 100vh;
	display: flex;
}

.layoutcanvas
{
	background-color: #eeeeee;
	padding: 40px 160px;
	height: 100vh;
	flex:7;
	overflow-y: scroll;
}
.layout.layoutcanvas::-webkit-scrollbar {
	width: 0 !important;
  }
.layout.layoutcanvas > div:hover:not(.doubledivparent),nav:hover,.doubledivchild:hover,.crtfooterclass:hover
{
	transition: 1s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.layoutcanvas>div,nav,footer{
	transition: 1s;
}
.layoutoptions
{
	/* padding-top: 160px; */
	height:auto ;
	flex:3;
	background-color: #232931;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button
{
	margin: 20px;
	width: 80%;

	font-size: 16px;
	padding: 14px 40px;
	background-color: #4ecca3;
	color: white;
	border: none;
	border-radius: 10px;

}
.crtbtn
{
	width: 200px;
	height: 300px;
	background-color:black;
	color: white;
}
.crttitleclass
{
	margin: 40px 0px 40px 0px;
	width: 100%;
	height: 80px;
	background-color:#393e46;
	border-radius: 10px;

}
.crtcontentclass
{
	margin: 40px 0px 40px 0px;
	width: 100%;
	height: 300px;
	background-color:#393e46;
	border-radius: 10px;
	
}
#a
{
	display:none;
}
.doubledivparent
{
	margin: 40px 0px 40px 0px;
	display: flex;
	width: 100%;
	height: 300px;
	justify-content: space-between;
}
.doubledivparent .doubledivchild
{
	flex:5;
	height: 100%;
	background-color:#393e46;
	border-radius: 10px;	
}
.doubledivchild:nth-child(1)
{
	margin-right: 20px;
}
.doubledivchild:nth-child(2)
{
	margin-left: 20px;
}
.crtfooterclass { 
	z-index: 5;
	margin: 40px 0px 40px 0px;
	 width: 100%;
	  height: 200px; 
	  background-color:#393e46;
	  border-radius: 10px;
	
	 }
